body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
    background: #ffffff;
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}

div#divdemo {
    background-color: orange;
    color: black;
    width: 100%;
    height: 100px;
    white-space: pre-line;
}

font {
    color: white;
}